.analysis_img {
    width: 10vh;
}

.statistic_img {
    width: 10vh;
}

.App-home {
    /*display: flex;*/
    width: 100%;
}

.analysis_card {
    align-items: flex-start;
    width: 18vh;
    float: left;
    border: black 2px solid;
    margin-right: 5vh;
    padding: 5vh;
}

.statistic_card {
    float: right;
    align-items: flex-end;
    width: 18vh;
    border: black 2px solid;
    margin-left: 5vh;
    padding: 5vh;
}

.card-wrapper {
    display: flex;
    justify-content: center;
}