.App-nav-wrapper {
    height: 15%;
    padding-top: 20vh;
    position: center;
    background-image: url('../assets/img/ki_network.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    filter: grayscale(0%);
}

.App-nav-bar {
    height: 5%;
    background: rgba(0, 0, 0, 0.5);
}
.App-navigation {

}

.App-nav-overlay{
    /*
opacity: 0.9;
    filter: alpha(opacity=40);
    background-color: black;
    */
}

.App-navbar {
    /*background-color: #282c34;*/
    align-self: center;
    justify-Content: center;
    vertical-align: center;
    text-align-all: center;
}
.App-content {
    height: 100%;
    padding: 10vh;

    background: white;
}

.activeRoute {
    color: white;

}
.nav_link {
    color: gray;
    margin-left: 5vh;
    text-decoration: none;
}

.nav_link:hover{
    text-decoration: none;
    color: white;
   /* border-bottom: 0.4vh solid  powderblue; */

}