// Here you can add other styles

.Dropzone {
  height: 200px;
  width: 200px;
  background-color: #fff;
  border: 2px dashed rgb(187, 186, 186);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
}

.Highlight {
  background-color: rgb(188, 185, 236);
}

.Icon {
  opacity: 0.3;
  height: 64px;
  width: 64px;
}

.FileInput {
  display: none;
}

.img_preview {
  width: 10vh;
  height: 12vh;
}

.classify_img {
   width: 16vh;
  height: 20vh;
}

.ServiceType {
  width: 10vh;
  color: white;
  border: black solid 1px;
}

#PostButton {
  background-color: green;
}

#GetButton {
  background-color: blue;
}
.ServiceDetails {
  padding-top: 1vh;
}
.ServiceDescription {
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}

.ParameterTable{
  border: 1px solid black;
}

.ResponseTable {
  margin-top: 1vh;
  border: 1px solid black;
}

.ResponseExample {
  border: 1px solid black;
  margin-top: 1vh;
}

.ResponseHeader {
  font-weight: bold;
  font-size: 15px;
  color: black;
}

#file-preview{
  border: black solid 1px;
}

.serviceFont {
  color: black;
  font-size: 15px;
  font-weight: bold;
}

#highlight {
  color: green;
}

#highlight-error {
  color:red;
}
